h1 {
    background-color: rgb(90, 202, 90);
    text-align: center;
    font-size: 80px;
    }

.wiki{
    color: rgb(45, 51, 45);
    } 

.hownt{
    color: rgb(255, 255, 255);
    } 

ul {
    background-color: rgb(199, 241, 187);
    }

.selected:hover{background: rgb(122, 129, 119);}

li{display: inline-block;
    width: 20%;
    font-size: 30px;
    text-align: right;} 

p {
    padding-left: 20px;} 

.coffee {text-align: right;}

figcaption {
    font-size: 30px;
    color: darkgreen;
}

.artimg {
    border: 5px solid;
    width: 500px; 
    height: 500px; 
    object-fit: cover;
    object-position: 50% 50%; }

div {
    background-color: rgba(181, 255, 214, 0.568);
}

#knitting {
    width: 200px; 
    height: 300px; 
    object-fit: cover;
    object-position: 50% 50%;
}

.chimp{
    width: 1000px; 
    height: 500px; 
    object-fit: cover;
    object-position: 50% 50%; 
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  a {
    color: rgb(211, 113, 203);
  }